@model WebGUI.Models.Users
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
