@model WebGUI.Models.Users
@{
    ViewBag.Title = "UserAwards";
}
<h2>UserAwards</h2>

@Html.Action("GetUserAwards", Model.Id)

<div>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.Id })
</div>
