<div>
    <ul>
        <li><a href="~/Views/News/GetAllNews.cshtml"><b>Новости</b></a></li>
        <li><a href="~/Views/Images/GetAllImage.cshtml"><b>Картинки</b></a></li>
        <li><a href="~/Views/Files/GetAllFiles.cshtml"><b>Файлы</b></a></li>
    </ul>
</div>