@{
    Layout = null;
    Page.Name = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <p>Сегодня: @DateTime.Now</p>
    </div>
</body>
</html>
