@{
    Layout = "/Shared/_Layout.cshtml";
    Page.Name = "Login";
}

<h2>Login</h2>

<form runat="server" method="post" action="">
    <div>
        <label for="Account">Имя</label>
        <input type="text" name="Account" />
        <label for="Password">Пароль</label>
        <input type="password" name="Password" />
        <input type="submit" value="Продолжить" />
    </div>
</form>
