<div>
    <ul>
        <li><a href="~/Views/News/GetAllNews.cshtml">Новости</a></li>
        <li><a href="~/Views/Images/GetAllImage.cshtml">Картинки</a></li>
        <li><a href="~/Views/Files/GetAllFiles.cshtml">Файлы</a></li>
    </ul>
</div>