body {
	background-color: steelblue;
}
.main {
	width: 903px;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 20px 40px 0;
	margin: auto;
	border-radius: 5px;
}
.inner {
	width: 300px;
	background-color:white;
	text-align:center;
	border-left: 1px solid gray;
	float:left;
	margin:10px 0;
}
.inner:first-child{
	border:none;
}
.botton{
	background-color:coral;
	display:inline-block;
	text-decoration:none;
	color:white;
	border-radius:2px;
	padding: 5px 10px;
}

h3 {
	color: coral;
}


